@page "/users"
@attribute [Authorize]
@inject IPlayerService PlayerService

<h1>Users</h1>
<NavLink href="users/add" class="btn btn-sm btn-success mb-2">Add User</NavLink>
<table class="table table-striped">
    <thead>
        <tr>            
            <th style="width: 30%">Login</th>
            <th style="width: 30%">Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @if (players != null)
        {
            foreach (var user in players)
            {
                <tr>
                    <td>@user.Login</td>
                    <td>@user.Name</td>
                    <td style="white-space: nowrap">
                        <NavLink href="@($"users/edit/{user.Id}")" class="btn btn-sm btn-primary mr-1">Edit</NavLink>
                        @*<button @onclick="@(() => DeleteUser(user.Id))" disabled="@user.IsDeleting" class="btn btn-sm btn-danger btn-delete-user">
                @if (user.IsDeleting)
                {
                <span class="spinner-border spinner-border-sm"></span>
                }
                else
                {
                <span>Delete</span>
                }
                </button>*@
                    </td>
                </tr>
            }
        }
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool loading;
    private IList<Player> players;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        players = await PlayerService.GetAll();
        loading = false;
    }

    private async void DeleteUser(string id)
    {
        var user = players.First(x => x.Id.ToString() == id);
        //user.IsDeleting = true;
        await PlayerService.Delete(id);
        players.Remove(user);
        StateHasChanged();
    }
}