@using NewJediwar.Shared;

<style>
    .map {
        display: grid;
        grid-template-rows: repeat(@($"{playerCharacter.VisionScope * 2 + 2}"), @($"{grid.CellSize}px"));
        width: @($"{grid.CellSize * (playerCharacter.VisionScope * 2 + 2)}px");
        height: @($"{grid.CellSize * (playerCharacter.VisionScope * 2 + 2)}px");
        position: relative;
    }

    /*.grid-global {
        display: grid;
        grid-template-columns: repeat(@grid.Columns+1, @($"{grid.CellSize}px"));
        grid-template-rows: repeat(@grid.Rows, @($"{grid.CellSize}px"));
        width: fit-content;
        width: @($"{grid.CellSize * (grid.Columns + 1)}px");
        height: @($"{grid.CellSize * (grid.Rows + 1)}px");
        position: relative;
        margin-bottom: 50px;
    }*/

    .cell {
        width: @($"{grid.CellSize}px");
        height: @($"{grid.CellSize}px");
        border: 1px solid #ccc;
        border-right: 1px solid black;
        padding: 0px;
        display: inline-block;
        position: relative;
    }

    .cell-header {
        background-color: #f1f1f1;
        width: @($"{grid.CellSize}px");
        height: @($"{grid.CellSize}px");
        border: 1px solid #ccc;
    }

    .character {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .rose-des-vents {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 200px;
        height: 200px;
    }

    .direction {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        user-select: none;
        color: #ff5722; /* Couleur vive */
        /* color: #8b4513; */ /* Couleur neutre */
        font-size: 3rem;
    }

    .north {
        top: 0;
    }

    .east {
        right: 0;
    }

    .south {
        bottom: 0;
    }

    .west {
        left: 0;
    }

    .north-east {
        top: 0;
        right: 0;
        transform: rotate(45deg);
    }

    .south-east {
        bottom: 0;
        right: 0;
        transform: rotate(-45deg);
    }

    .south-west {
        bottom: 0;
        left: 0;
        transform: rotate(45deg);
    }

    .north-west {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }

    .cell-y {
        bottom: 0;
        left: 0;
    }

    .cell-x {
        top: 0;
        right: 0;
    }

</style>

@*<div class="grid-global">
    <!-- Ajout de l'en-tête pour les colonnes -->
    <div class="row">
        <div class="cell-header">
            <div class="cell-x">x</div>
            <div class="cell-y">y</div>
        </div>
        @for (int colHeader = 0; colHeader < grid.Columns; colHeader++)
        {
            <div class="cell-header">x=@colHeader</div>
        }
    </div>

    @for (int row = 0; row < grid.Rows; row++)
    {
        <!-- Ajout de l'en-tête pour les lignes -->
        <div class="row">
            <div class="cell-header">y=@row</div>

            @for (int col = 0; col < grid.Columns; col++)
            {
                var character = grid.Characters.FirstOrDefault(c => c.Column == col && c.Row == row);
                <div class="cell">
                    <img src="@GetImageSource(grid.Cells[row, col])" alt="@grid.Cells[row, col].Environnment.Name" />

                    @if (character != null)
                    {
                        <img class="character" src="images/jedi.png" alt="@playerCharacter.Name" />
                    }

                </div>
            }
        </div>
    }
</div>*@

<h1>La vue joueur</h1>

<div class="map">
    <!-- Ajout de l'en-tête pour les colonnes -->
    <div class="row">
        <div class="cell-header">
            <div class="cell-x">x</div>
            <div class="cell-y">y</div>
        </div>
        @for (int colHeader = -playerCharacter.VisionScope; colHeader <= playerCharacter.VisionScope; colHeader++)
        {
            var xRelatif = (playerCharacter.Column + colHeader + grid.Columns) % grid.Columns;
            <div class="cell-header">x=@xRelatif</div>
        }
    </div>

    @for (int row = -playerCharacter.VisionScope; row <= playerCharacter.VisionScope; row++)
    {
        var rowRelatif = (playerCharacter.Row + row + grid.Rows) % grid.Rows;

        <!-- Ajout de l'en-tête pour les lignes -->
        <div class="row">
            <div class="cell-header">y=@rowRelatif</div>

            @for (int col = -playerCharacter.VisionScope; col <= playerCharacter.VisionScope; col++)
            {
                var colonneRelatif = (playerCharacter.Column + col + grid.Columns) % grid.Columns;

                var character = grid.Characters.FirstOrDefault(c => c.Column == colonneRelatif && c.Row == rowRelatif);
                <div class="cell">
                    <img src="@GetImageSource(grid.Cells[rowRelatif, colonneRelatif])" alt="@grid.Cells[rowRelatif, colonneRelatif].Environnment.Name" />

                    @if (character != null)
                    {
                        <NewJediwar.Client.Components.CharacterTooltip Character="@character">
                            <img class="character" src="images/jedi.png" alt="@playerCharacter.Name" />
                        </NewJediwar.Client.Components.CharacterTooltip>
                    }

                </div>
            }
        </div>
    }
</div>

<div class="rose-des-vents">
    <div class="direction north" @onclick="MoveUp"><i class="fas fa-arrow-up"></i></div>
    <div class="direction east" @onclick="MoveRight"><i class="fas fa-arrow-right"></i></div>
    <div class="direction south" @onclick="MoveDown"><i class="fas fa-arrow-down"></i></div>
    <div class="direction west" @onclick="MoveLeft"><i class="fas fa-arrow-left"></i></div>
    <div class="direction north-east" @onclick="MoveUpRight"><i class="fas fa-arrow-up"></i></div>
    <div class="direction south-east" @onclick="MoveDownRight"><i class="fas fa-arrow-down"></i></div>
    <div class="direction south-west" @onclick="MoveDownLeft"><i class="fas fa-arrow-down"></i></div>
    <div class="direction north-west" @onclick="MoveUpLeft"><i class="fas fa-arrow-up"></i></div>
</div>



@code {
    private JediwarGrid grid;
    private JediwarCharacter playerCharacter;

    protected override void OnInitialized()
    {
        grid = new JediwarGrid(20, 20, 75);

        JediwarInitGame.InitGrid(grid);

        playerCharacter = new JediwarCharacter("Jakon67", 3, 1, 4);
        grid.Characters.Add(playerCharacter);
    }

    private void MoveUp()
    {
        grid.MoveCharacter(playerCharacter, -1, 0);
    }

    private void MoveUpRight()
    {
        grid.MoveCharacter(playerCharacter, -1, 1);
    }

    private void MoveUpLeft()
    {
        grid.MoveCharacter(playerCharacter, -1, -1);
    }

    private void MoveDown()
    {
        grid.MoveCharacter(playerCharacter, 1, 0);
    }

    private void MoveDownRight()
    {
        grid.MoveCharacter(playerCharacter, 1, 1);
    }

    private void MoveDownLeft()
    {
        grid.MoveCharacter(playerCharacter, 1, -1);
    }

    private void MoveLeft()
    {
        grid.MoveCharacter(playerCharacter, 0, -1);
    }

    private void MoveRight()
    {
        grid.MoveCharacter(playerCharacter, 0, 1);
    }

    private string GetImageSource(JediwarCell cell)
    {
        return $"images/{cell.Environnment.TextureName}";
    }
}