<style>
    .map {
        display: grid;
        grid-template-rows: repeat(@($"{playerCharacter.VisionScope * 2 + 2}"), @($"{planet.CellSize + 1}px"));
        width: @($"{(planet.CellSize + 1) * (playerCharacter.VisionScope * 2 + 2) + 2}px");
        height: @($"{(planet.CellSize + 1) * (playerCharacter.VisionScope * 2 + 2) + 2}px");
        position: relative;
        margin-right: 20px;
    }

    .map-top-left-header {
        background-color: #c0c0c0;
        width: @($"{planet.CellSize + 1}px");
        height: @($"{planet.CellSize + 1}px");
        border: 1px solid black;
    }

    .map-column-header {
        background-color: #f0f0f0;
        width: @($"{planet.CellSize + 1}px");
        height: @($"{planet.CellSize + 1}px");
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .map-row-header {
        background-color: #f0f0f0;
        width: @($"{planet.CellSize + 1}px");
        height: @($"{planet.CellSize + 1}px");
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .ground {
        width: @($"{planet.CellSize + 1}px");
        height: @($"{planet.CellSize + 1}px");
        padding: 0px;
        display: inline-block;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        position: relative;
    }

    .character {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .rose-des-vents {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 200px;
        height: 200px;
    }

    .direction {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        user-select: none;
        /*color: #ff5722;*/ /* Couleur vive */
        color: #8b4513; /* Couleur neutre */
        font-size: 3rem;
    }

    .north {
        top: 0;
    }

    .east {
        right: 0;
    }

    .south {
        bottom: 0;
    }

    .west {
        left: 0;
    }

    .north-east {
        top: 0;
        right: 0;
        transform: rotate(45deg);
    }

    .south-east {
        bottom: 0;
        right: 0;
        transform: rotate(-45deg);
    }

    .south-west {
        bottom: 0;
        left: 0;
        transform: rotate(45deg);
    }

    .north-west {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }

    .cell-y {
        bottom: 0;
        left: 0;
    }

    .cell-x {
        top: 0;
        left: 0;
    }

</style>

<h1>La vue joueur</h1>



<div class="map">
    <!-- Ajout de l'en-tête pour les colonnes -->
    <div class="row">
        <div class="map-top-left-header">
            <div class="cell-x">x</div>
            <div class="cell-y">y</div>
        </div>
        @for (int colHeader = -playerCharacter.VisionScope; colHeader <= playerCharacter.VisionScope; colHeader++)
        {
            var xRelatif = (playerCharacter.Column + colHeader + planet.Columns) % planet.Columns;
            <div class="map-row-header">x=@xRelatif</div>
        }
    </div>

    @for (int row = -playerCharacter.VisionScope; row <= playerCharacter.VisionScope; row++)
    {
        var rowRelatif = (playerCharacter.Row + row + planet.Rows) % planet.Rows;

        <!-- Ajout de l'en-tête pour les lignes -->
        <div class="row">
            <div class="map-column-header">y=@rowRelatif</div>

            @for (int col = -playerCharacter.VisionScope; col <= playerCharacter.VisionScope; col++)
            {
                var colonneRelatif = (playerCharacter.Column + col + planet.Columns) % planet.Columns;

                var character = planet.Characters.FirstOrDefault(c => c.Column == colonneRelatif && c.Row == rowRelatif);
                <div class="ground">
                    <img src="@GetImageSource(planet.Cells[rowRelatif, colonneRelatif])" alt="@planet.Cells[rowRelatif, colonneRelatif].GroundEnvironment.Name" />

                    @if (character != null)
                    {
                        <NewJediwar.Client.Components.CharacterTooltip Character="@character">
                            <img class="character" src="images/jedi.png" alt="@playerCharacter.Name" />
                        </NewJediwar.Client.Components.CharacterTooltip>
                    }
                </div>
            }
        </div>
    }
</div>

<div class="rose-des-vents">
    <div class="direction north" @onclick="MoveUp"><i class="fas fa-arrow-up"></i></div>
    <div class="direction east" @onclick="MoveRight"><i class="fas fa-arrow-right"></i></div>
    <div class="direction south" @onclick="MoveDown"><i class="fas fa-arrow-down"></i></div>
    <div class="direction west" @onclick="MoveLeft"><i class="fas fa-arrow-left"></i></div>
    <div class="direction north-east" @onclick="MoveUpRight"><i class="fas fa-arrow-up"></i></div>
    <div class="direction south-east" @onclick="MoveDownRight"><i class="fas fa-arrow-down"></i></div>
    <div class="direction south-west" @onclick="MoveDownLeft"><i class="fas fa-arrow-down"></i></div>
    <div class="direction north-west" @onclick="MoveUpLeft"><i class="fas fa-arrow-up"></i></div>
</div>



@code {
    private Planet planet;
    private Character playerCharacter;

    protected override void OnInitialized()
    {
        planet = new Planet(20, 20, 75, "Planète Test");

        InitGame.InitGrid(planet);

        playerCharacter = new Character("Jakon67", 3, 1, 4);
        planet.Characters.Add(playerCharacter);
    }

    private void MoveUp()
    {
        planet.MoveCharacter(playerCharacter, -1, 0);
    }

    private void MoveUpRight()
    {
        planet.MoveCharacter(playerCharacter, -1, 1);
    }

    private void MoveUpLeft()
    {
        planet.MoveCharacter(playerCharacter, -1, -1);
    }

    private void MoveDown()
    {
        planet.MoveCharacter(playerCharacter, 1, 0);
    }

    private void MoveDownRight()
    {
        planet.MoveCharacter(playerCharacter, 1, 1);
    }

    private void MoveDownLeft()
    {
        planet.MoveCharacter(playerCharacter, 1, -1);
    }

    private void MoveLeft()
    {
        planet.MoveCharacter(playerCharacter, 0, -1);
    }

    private void MoveRight()
    {
        planet.MoveCharacter(playerCharacter, 0, 1);
    }

    private string GetImageSource(PlanetGround cell)
    {
        return $"images/{cell.GroundEnvironment.TextureName}";
    }
}